<div>
    <form action="" [formGroup]="formLogin" (submit)="onSubmit()">
        <label for="">Name: {{formLogin.get('name')?.hasError('minlength')}}</label>
        <label for="" *ngIf="formLogin.get('name')?.errors && formLogin.get('name')?.touched && formLogin.get('name')?.dirty">Tamaño incorrecto</label>
        <input id="name" name="name" type="text" formControlName="name"> <br><br>

        <label for="">E-mail: </label>
        <label for="" *ngIf="formLogin.get('email')?.errors && formLogin.get('email')?.touched && formLogin.get('email')?.dirty">Campo requerido</label>
        <input id="email" name="email" type="text" formControlName="email"> <br><br>

        <label for="">Password: </label>
        <label for="" *ngIf="formLogin.get('password')?.errors && formLogin.get('password')?.touched">Contraseña requerida</label>
        <input id="password" name="password" type="password" formControlName="password"><br><br>

        <label for="">Phone: </label>
        <label for="" *ngIf="formLogin.get('phone')?.errors && formLogin.get('phone')?.touched">Telefono requerido</label>
        <input id="phone" name="phone" type="text" formControlName="phone"><br><br>

        <button role="submit" type="submit" [disabled]="formLogin.invalid && formLogin.dirty">Save</button>
    </form>
</div>
